@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

/* MapLibre GL overrides */
.maplibregl-ctrl-attrib {
  font-size: 10px;
  background: rgba(15, 23, 42, 0.8) !important;
  color: #94a3b8 !important;
}
.maplibregl-ctrl-attrib a {
  color: #64748b !important;
}
